{% extends 'layout/base.html' %}
{% load static i18n %}

{% block title %}

{% endblock %}

{% block content %}
<main class="main index-main">
    <div class="home">
        <h1 class="home-title">Каталог</h1>
        <ul class="card-list">
          {% for mirror in object_list %}
          <li class="card-column">
            <div class="card-mirror">
                <div class="card-img-wrapper">
                    <img 
                        class="card-image"
                        src="{{ mirror.image.url }}"
                        alt="Mirror Card image"
                    />
                </div>
                <h3 class="card-title">{{ mirror.title }}</h3>
                <span class="card-price">{{ mirror.price }} сум</span>
                {% for contact in social_contacts %}
                    {% if contact.phone_number %}
                        <a href="tel:{{ contact.phone_number }}" class="home-contact-button">Заказать</a>
                    {% endif %}
                {% endfor %}
            </div>
          </li>
          {% endfor %}
        </ul>

    </div>
</main> 
{% endblock %}

{% block js_block %}

{% endblock %}