.header {
  position: fixed;
  top: 0;
  background: white;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
  width: 100%;
  z-index: 100;
  padding-top: 0.25rem;
}

.header-nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem calc(50% - 25rem);
  font-family: "Golos Text", sans-serif;

  @media screen and (max-width: 992px) {
    padding-inline: 1rem;
  }
}

.header-contact-button,
.home-contact-button {
  color: white;
  padding: 0.5rem 1rem;
  background: #23554A;
  font-size: 0.9rem;
  width: max-content;
  border: 0.1rem solid #23554A;
  transition: all 0.3s ease;

  &:hover {
    background: transparent;
    color: #23554A;
  }
}

.contact-social-networks {
  display: flex;
  gap: 0.5rem;

  i {
    font-size: 1.5rem;
  }

  @media screen and (min-width: 331px) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.header-social-icon-link {
  color: #23554A;
}

.home-contact-button {
  margin: 2rem auto 1rem;
}

.logo {
  position: relative;
  display: block;

  &:hover {
    opacity: 0.75;
  }
}

.logo__img {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
}

.logo__link {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 0;
}

.nav {
  display: block;
}

.nav__list {
  display: flex;
  justify-content: space-evenly;
}

.nav__link {
  &--active {
    text-decoration: underline;
  }

  &:hover {
    color: grey;

    &--active {
      text-decoration: underline;
    }
  }
}

.contact {
  display: flex;
  flex-flow: column;
}